@import "color.scss";

.file {

    .simple {
        color: rgb(167, 167, 167) !important;
    }
}

.popup-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    iframe {
        border: solid 1px $border;
        box-sizing: border-box;
        max-height: inherit !important;
        height: 100%;
        width: 100%;
    }

    a {
        margin-top: 20px;
        text-decoration: none;

    }
    svg {
        font-size: 24px;
     }
    p {
        width: fit-content;
        font-size: 20px;
        display: flex;
        align-items: center;
    }
}